* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: row;
}

.container-left {
    background: #1f1f3d;
    height: 100vh;
    width: 25%;
    color: #e9e9f3;
}

.heading {
    font-size: 25px;
    font-weight: 700;
    padding: .5em;
    color: #e9e9f3;
}

.starred-ideas-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: .15em solid #353567;
    border-bottom: .15em solid #353567;
    padding: .75em;
    margin: 0;
    height: 20vh;
}

.starred-ideas {
    font-size: 20px;
    font-weight: 600;
    color: #bfbfdd;
    margin: 0;
}

.show-ideas-button {
    font-size: 1em;
    font-weight: 600;
    color: #e9e9f3;
    background: #5356a4;
    border: 2px #353568 solid;
    border-radius: 0.1em;
    padding: .5em 1.25em;
    width: fit-content;
}

.container-right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 75%;
    background-color: #a9aad2;
}

.container-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #a9aad2;
    height: 50%;
}

.title-area,
.body-area {
    display: flex;
    font-weight: 700;
    flex-direction: column;
    font-size: 15px;
    color: #1f1f3d;
    width: 45%;
}

textarea {
    border: .15em #5356a4 solid;
    border-radius: .25em;
    outline: 0;
    margin-top: .25em;
    resize: 0;
    padding: .5em;
}

.user-title {
    height: 3em;
}

.user-body {
    height: 6em;
}

.save-button {
    background: #9292b7;
    color: #eaeaf4;
    font-size: 23px;
    border: .1em #5356a4 solid;
    border-radius: .25em;
    padding: .2em;
    height: 2em;
    width: 45%;
    cursor: text;
}

.save-button-2 {
    background: #353567;
    cursor: pointer;
    font-weight: 700;
}

.search-ideas-box {
    display: flex;
    height: 3em;
    width: 45%;
    outline: 0;
}

.search-image {
    background: #353567;
    padding: .7em;
    width: 1.5em;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
}

.search-field {
    width: 100%;
    border: 0.15em #5356a4 solid;
    border-left-width: 0em;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    padding: .5em;
}

.search-field::placeholder {
    font-size: 15px;
    font-weight: 300;
    color: #5356a4;
}

.container-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #eaeaf4;
    height: 50%;
    overflow-y: auto;
}

.idea-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5em;
    height: 15em;
    width: 14em;
}

.idea-nav {
    display: flex;
    justify-content: space-between;
    background: #1f1f3d;
    border-bottom: .15em solid #1f1f3d;
    margin: 0;
    height: 13%;
    width: 100%;
}

.idea-content {
    background: #ffffff;
    border: .15em solid #1f1f3d;
    padding: .5em;
    height: 100%;
}

.idea-body,
.idea-title {
    font-size: 15px;
    padding: .4em;
}

.idea-comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 15px;
    color: #ffffff;
    background: #5356a4;
    border: .15em solid #1f1f3d;
    border-top: 0;
    margin: 0;
}

.card-icon {
    padding: .1em;
    height: 1.75em;
    width: 1.75em;
}