/* font family all the same */
* {
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
}

.container-left {
    background: #1f1f3d;
    height: 60em;
    width: 25%;
    margin-top: -10px;
    margin-bottom: -10px;  
    margin-left: -10px;
    color: #e9e9f3;
}

.heading {
    font-size: 15px;
    font-weight: 700;
    padding: .5em;
    margin: .5em;
    color: #e9e9f3;
}

.starred-ideas-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: .15em solid #353567;
    border-bottom: .15em solid #353567;
    padding: .75em;
    margin: 0;
    height: 15vh;
}

.starred-ideas {
    font-size: 12px;
    /* font-weight: 700; */
    color: #bfbfdd;
    margin: 0;

}

.show-ideas-button {
    font: 20px;
    font-weight: 700;
    color: #e9e9f3;
    background: #5356a4;
    border: none;
    padding: .5em 1.25em .40em 1.25em;
}

.container-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 77%;
    background-color: #a9aad2;
    margin-top: -10px;
}

.container-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #a9aad2;
    height: 24em;
}

.title-area,
.body-area {
    display: flex;
    font-weight: 700;
    flex-direction: column;
    font-size: 15;
    color: #1f1f3d;
    width: 45%;
}

textarea {
    border: .15em #5356a4 solid;
    border-radius: .25em;
    outline: none;
    margin-top: .25em;
    resize: none;
}

.user-title {
    height: 3em;
}

.user-body {
    height: 6em;
}

.save-button {
    background: #353567;
    color: #eaeaf4;
    font-size: 15px;
    border: .15em #5356a4 solid;
    border-radius: .25em;
    padding: .5em;
    width: 45%;
}

.search-ideas-box {
    display: flex;
    border: .05em solid #1f1f3d; 
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    height: 2.5em;
    width: 45%;
    outline: none;
}

.search-image {
    background: #353567;
    padding: .5em;
    margin: 0;
    height: 1.5em;
    width: 1.5em;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
}
.search-field {
    width: 100%;
    outline: none;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
}

.container-bottom {
    display: flex;
    justify-content: space-evenly;
    background: #eaeaf4;
    height: 35em;
}